---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const title = "YUI";
const desc = "(Not) Daily UI Challenge";
const pages = await Astro.glob("../pages/**/index.astro");
const totalItems = 14;
---

<Layout title={`${title} - ${desc}`}>
  <div
    class="2xs:fixed text-center 2xs:w-52 py-20 2xs:p-0 top-0 left-0 2xs:top-40 z-10"
  >
    <div class="text-6xl">{title}</div>
    <div class="text-md 2xs:mt-4">{desc}</div>
  </div>
  <div class="@container flex flex-wrap p-[2px] 2xs:pl-52">
    {
      pages
        .filter((page) => !!page.url)
        .map((page) => {
          const url = page.url!;
          const id = url.replace("/yui/", "");
          return (
            <Card
              title={`No. ${id}`}
              url={url}
              image={`/src/pages/${id}/preview.jpg`}
            />
          );
        })
    }
    {
      [...Array(totalItems - pages.length).keys()].map((i) => {
        const id = `${i + pages.length + 1}`.padStart(2, "0");
        return (
          <Card
            title={`No. 0${id}`}
            url={`/yui/${id}/index.html`}
            image={`/yui/${id}/preview.jpg`}
          />
        );
      })
    }
  </div>
</Layout>
